{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <br>
    <h1>Inicio de sesión acudientes</h1>
    <br>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {% if mensaje %}
            <meta http-equiv="refresh" content="0; url={% url 'infoAcudiente' a=acudiente.email %}">

        {% endif %}
        {% if error %}
            <div class="alert alert-danger" role="alert">
                Correo o contraseña incorrectas
            </div>
        {% endif %}
        {{ form|crispy }}
        <br>
        <button type="submit" class="btn btn-primary">entrar</button>
    </form>
{% endblock %}